.main {
    height: 600px;
    background-color: #edecea;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: stretch;
}

.left {
    width: 100%;
}

.messages-list {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 500px;
}

.new-message {
    height: 90px;
    background-color: white;
    border-radius: 10px;
}

.right {
    width: 400px;
    background-color: white;
    border-radius: 10px;
    margin-left: 10px;
}